<a href="https://colab.research.google.com/github/jass-jones/Deep_Learning_challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [ ]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

from google.colab import drive
drive.mount('/content/drive')

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv('/content/drive/MyDrive/charity_data.csv')
application_df.head()

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

        EIN                                      NAME  ... ASK_AMT IS_SUCCESSFUL
0  10520599              BLUE KNIGHTS MOTORCYCLE CLUB  ...    5000             1
1  10531628    AMERICAN CHESAPEAKE CLUB CHARITABLE TR  ...  108590             1
2  10547893        ST CLOUD PROFESSIONAL FIREFIGHTERS  ...    5000             0
3  10553066            SOUTHSIDE ATHLETIC ASSOCIATION  ...    6692             1
4  10556103  GENETIC RESEARCH INSTITUTE OF THE DESERT  ...  142590             1

[5 rows x 12 columns]

In [ ]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop('EIN', axis= 1)
application_df = application_df.drop('NAME', axis= 1)
application_df.head()

  APPLICATION_TYPE       AFFILIATION  ... ASK_AMT IS_SUCCESSFUL
0              T10       Independent  ...    5000             1
1               T3       Independent  ...  108590             1
2               T5  CompanySponsored  ...    5000             0
3               T3  CompanySponsored  ...    6692             1
4               T3       Independent  ...  142590             1

[5 rows x 10 columns]

In [ ]:
# Determine the number of unique values in each column.
counts = application_df.nunique()
print(counts)

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [16]:
# Look at APPLICATION_TYPE value counts for binning
application_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_counts)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T14        3
T25        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [18]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
application_types_to_replace = list(application_counts[application_counts < 500].index)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [31]:
# Look at CLASSIFICATION value counts for binning
classification_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_counts)

Other    34299
Name: CLASSIFICATION, dtype: int64

In [ ]:
# You may find it helpful to look at CLASSIFICATION value counts >1

In [32]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification_counts[classification_counts < 1000].index)

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")
    
# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

Other    34299
Name: CLASSIFICATION, dtype: int64

In [34]:
# Convert categorical data to numeric with `pd.get_dummies`
dummies = pd.get_dummies(application_df, drop_first= True)
dummies.head()

   STATUS  ASK_AMT  ...  INCOME_AMT_5M-10M  SPECIAL_CONSIDERATIONS_Y
0       1     5000  ...                  0                         0
1       1   108590  ...                  0                         0
2       1     5000  ...                  0                         0
3       1     6692  ...                  0                         0
4       1   142590  ...                  0                         0

[5 rows x 32 columns]

In [35]:
# Split our preprocessed data into our features and target arrays
y = dummies.IS_SUCCESSFUL.values
X = dummies.drop('IS_SUCCESSFUL', axis= 1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify= y)

In [36]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [37]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
features = len(X_train_scaled[0])
node = 80
sec_node = 30
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units= node, input_dim= features, activation= 'relu'))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units= sec_node, activation= 'relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units= 1, activation= 'sigmoid'))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                2560

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,021
Trainable params: 5,021
Non-trainable params: 0
_________________________________________________________________

In [38]:
# Compile the model
nn.compile(loss= "binary_crossentropy", optimizer= "adam", metrics= ["accuracy"])

In [40]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs= 100)

Epoch 1/100
804/804 [==============================] - 2s 2ms/step - loss: 0.5811 - accuracy: 0.7203
Epoch 2/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5702 - accuracy: 0.7259
Epoch 3/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5685 - accuracy: 0.7268
Epoch 4/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5676 - accuracy: 0.7280
Epoch 5/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5667 - accuracy: 0.7280
Epoch 6/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5662 - accuracy: 0.7277
Epoch 7/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5655 - accuracy: 0.7294
Epoch 8/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5655 - accuracy: 0.7279
Epoch 9/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5652 - accuracy: 0.7295
Epoch 10/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5652 - accuracy: 0.7294
Epoch 11/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5645 - accuracy: 0.7297
Epoch 12/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5644 - accuracy: 0.7283
Epoch 13/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5642 - accuracy: 0.7290
Epoch 14/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5638 - accuracy: 0.7297
Epoch 15/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5641 - accuracy: 0.7300
Epoch 16/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5637 - accuracy: 0.7303
Epoch 17/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5637 - accuracy: 0.7293
Epoch 18/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5635 - accuracy: 0.7299
Epoch 19/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5631 - accuracy: 0.7304
Epoch 20/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5629 - accuracy: 0.7306
Epoch 21/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5627 - accuracy: 0.7302
Epoch 22/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5624 - accuracy: 0.7311
Epoch 23/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5625 - accuracy: 0.7299
Epoch 24/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5623 - accuracy: 0.7308
Epoch 25/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5630 - accuracy: 0.7306
Epoch 26/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5622 - accuracy: 0.7305
Epoch 27/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5620 - accuracy: 0.7301
Epoch 28/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5621 - accuracy: 0.7306
Epoch 29/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5619 - accuracy: 0.7314
Epoch 30/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5618 - accuracy: 0.7311
Epoch 31/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5621 - accuracy: 0.7315
Epoch 32/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5614 - accuracy: 0.7311
Epoch 33/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5617 - accuracy: 0.7319
Epoch 34/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5610 - accuracy: 0.7319
Epoch 35/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5613 - accuracy: 0.7316
Epoch 36/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5613 - accuracy: 0.7309
Epoch 37/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5614 - accuracy: 0.7311
Epoch 38/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5615 - accuracy: 0.7322
Epoch 39/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5612 - accuracy: 0.7308
Epoch 40/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5612 - accuracy: 0.7317
Epoch 41/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5606 - accuracy: 0.7317
Epoch 42/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5608 - accuracy: 0.7318
Epoch 43/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5605 - accuracy: 0.7324
Epoch 44/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5608 - accuracy: 0.7317
Epoch 45/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5606 - accuracy: 0.7310
Epoch 46/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5602 - accuracy: 0.7322
Epoch 47/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5605 - accuracy: 0.7320
Epoch 48/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5602 - accuracy: 0.7320
Epoch 49/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5602 - accuracy: 0.7324
Epoch 50/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5605 - accuracy: 0.7321
Epoch 51/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5600 - accuracy: 0.7321
Epoch 52/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5601 - accuracy: 0.7328
Epoch 53/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5601 - accuracy: 0.7315
Epoch 54/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5601 - accuracy: 0.7320
Epoch 55/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5596 - accuracy: 0.7337
Epoch 56/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5599 - accuracy: 0.7320
Epoch 57/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5596 - accuracy: 0.7320
Epoch 58/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5596 - accuracy: 0.7321
Epoch 59/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5595 - accuracy: 0.7311
Epoch 60/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5596 - accuracy: 0.7326
Epoch 61/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5595 - accuracy: 0.7324
Epoch 62/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5595 - accuracy: 0.7323
Epoch 63/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5596 - accuracy: 0.7318
Epoch 64/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5595 - accuracy: 0.7323
Epoch 65/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5593 - accuracy: 0.7331
Epoch 66/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5591 - accuracy: 0.7328
Epoch 67/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5593 - accuracy: 0.7320
Epoch 68/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5592 - accuracy: 0.7326
Epoch 69/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5590 - accuracy: 0.7325
Epoch 70/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5586 - accuracy: 0.7324
Epoch 71/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5591 - accuracy: 0.7318
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5594 - accuracy: 0.7321
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5593 - accuracy: 0.7320
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5591 - accuracy: 0.7319
Epoch 75/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5584 - accuracy: 0.7328
Epoch 76/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5589 - accuracy: 0.7320
Epoch 77/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5588 - accuracy: 0.7322
Epoch 78/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5589 - accuracy: 0.7324
Epoch 79/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5587 - accuracy: 0.7329
Epoch 80/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5587 - accuracy: 0.7312
Epoch 81/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5589 - accuracy: 0.7324
Epoch 82/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5586 - accuracy: 0.7325
Epoch 83/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5585 - accuracy: 0.7322
Epoch 84/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5585 - accuracy: 0.7329
Epoch 85/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5589 - accuracy: 0.7322
Epoch 86/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5584 - accuracy: 0.7333
Epoch 87/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5588 - accuracy: 0.7325
Epoch 88/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5584 - accuracy: 0.7330
Epoch 89/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5584 - accuracy: 0.7327
Epoch 90/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5581 - accuracy: 0.7326
Epoch 91/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5582 - accuracy: 0.7329
Epoch 92/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5579 - accuracy: 0.7330
Epoch 93/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5600 - accuracy: 0.7324
Epoch 94/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5592 - accuracy: 0.7322
Epoch 95/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5582 - accuracy: 0.7331
Epoch 96/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5581 - accuracy: 0.7324
Epoch 97/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5580 - accuracy: 0.7330
Epoch 98/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5586 - accuracy: 0.7327
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5582 - accuracy: 0.7325
Epoch 100/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5577 - accuracy: 0.7331

In [41]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5762 - accuracy: 0.7178 - 408ms/epoch - 2ms/step
Loss: 0.5762283802032471, Accuracy: 0.7177842855453491

In [42]:
# Export our model to HDF5 file
nn.save("AlphabetSoup.h5")